---
import Layout from "../../layouts/Layout.astro";
import SopaDeLetras from "../../components/castellano/sopadeletras";
const misPalabras = ["ASTRO", "ISLA", "COMPONENTE", "INTERACTIVO", "FACIL", "JUEGO", "SOL", "LUNA", "ESTRELLA", "NUBE", "CIELO", "PALMIRA"];

---

<Layout title="Sopa de Letras - Aprende Jugando">
  <div class="py-8">
    <div class="mb-10 text-center">
      <h1 class="text-4xl font-bold mb-4 text-spanish-dark">Sopa de Letras</h1>
      <p class="text-lg text-gray-700 max-w-3xl mx-auto">
        Encuentra palabras escondidas en una sopa de letras. ¡Mejora tu observación y vocabulario!</p>
    </div>

    <div class="max-w-4xl mx-auto bg-white rounded-xl shadow-lg p-6">
        <SopaDeLetras words={misPalabras} client:load />
    </div>

    <div class="mt-8 flex justify-center space-x-4">
      <a href="/castellano" class="btn btn-secondary">
        ← Volver a Castellano
      </a>
      <a href="/" class="btn btn-primary">
        Ir al inicio
      </a>
    </div>