---
import Layout from "../../layouts/Layout.astro";
import GameCard from "../../components/GameCard.astro";
import { BsBackpack3 } from "react-icons/bs";

---

<Layout title="Inglés - Aprende Jugando">
  <div class="py-8">
    <div class="mb-10 text-center">
      <h1 class="text-4xl font-bold mb-4 text-english-dark">Inglés</h1>
      <p class="text-lg text-gray-700 max-w-3xl mx-auto">
        Aprende un nuevo idioma jugando con palabras, imágenes y canciones en inglés.
        ¡Una forma divertida de expandir tu vocabulario!
      </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 max-w-6xl mx-auto">
      <GameCard
        title="Colores en Ingles"
        description="Aprende los colores en inglés con este juego interactivo. ¡Perfecto para los pequeños aprendices!"
        icon="🎨"
        href="/ingles/colors"
        color="english"
        level="fácil"
      />
      
      <GameCard
        title="Simon Dice"
        description="Sigue las instrucciones de simon"
        icon="🎮"
        href="/ingles/simon-dice"
        color="english"
        level="medio"
      />
      
      <GameCard
        title="Que hay en la mochila"
        description=" ¡Adivina el objeto oculto usando pistas táctiles!"
        icon="🎒"
        href="/ingles/in-the-bag"
        color="english"
        level="medio"
      />
      
      
    </div>

    <div class="mt-12 flex justify-center">
      <a href="/" class="btn btn-secondary">
        ← Volver al inicio
      </a>
    </div>
  </div>
</Layout>